    <div class="container" ng-controler="SprintDetailCtrl">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <ol class="breadcrumb">
            <li><a href="#/sprint-list">Sprints</a></li>
            <li><a href="#/sprint-detail/{{sprintId}}">{{sprint.Description}}</a></li>
          </ol>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Join <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="member in sprint.Team"> <a href="#/team-vote/{{sprintId}}/{{member}}">{{member}}</a></li>
                  </ul>
            </div>
            <div class="btn-group">
              <div ng-controller="ModalImputNameCtrl">
                <button class="btn btn-default" ng-click="open('Story',addStory)">New Story</button>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-4" ng-repeat="story in sprint.Stories">
          <div class="panel panel-info">          
            <div class="panel-heading">{{story.Name}}</div>
            <div class="panel-body">
              <ul class="list-group">
                <li ng-repeat="vote in story.Votes" class="list-group-item">
                    {{vote.member}} <span class="badge pull-right vote">{{vote.vote}}</span>
                </li>
              </ul>
              <div style="height:40px">
                <button ng-show="story.Votes[0].vote=='?'" ng-click="submitToVotes($index)">Submit to votes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
